<ul>
  <li>
    <h1>{{ title }}</h1>
  </li>
  <li>
    <h1>{{ post1 }}</h1>
  </li>
  <li>
    <h1>{{ post2 }}</h1>
  </li>
  <li>
    <h1>{{ post3 }}</h1>
  </li>
  <li>
    <h1>{{ post4 }}</h1>
  </li>
</ul>
